@import "tailwindcss";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


body {
  @apply flex items-center justify-center w-full
    overflow-hidden bg-[url('./wavy-lines.svg')] 
    bg-cover select-none min-h-screen;
}